---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="admin"
  description="a page for inspecting and debugging OG images"
>
  <section class="py-10">
    <h1>OG Images</h1>
    <!-- Add content here if needed -->
  </section>
</BaseLayout>
